#user {
    * {
        list-style: none;

    }

    .fullname {
        text-align: center;
        font-style: italic;
    }

    .avatar {
        width: 125px;
        height: 125px;
        box-sizing: border-box;
    }

    .material-icons {
        margin-left: 10px;
    }

    ul {
        padding-left: 0px;
    }

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
        &.active {
          color: #008cba;
        }
        &:hover {
          background: none;
          color: #008cba;
        }
        &:focus {
          background: none;
        }
    }

    h4 {
        color: #008cba;
    }
}

#user-edit {
    .form-group {
        margin-top: 30px;
    }
    label {
        font-weight: bold;
        font-size: 16px;
    }
}

#user-update-admin {
    li {
        list-style: none;
    }
    .col-md-3 {
        margin-left: 50px;
        margin-top: 30px;
        border: 1px solid black;
        padding: 10px;
    }
}

#user-add-address {
    .form-group {
        margin-top: 30px;
    }
    label {
        font-weight: bold;
        font-size: 16px;
    }
}