.home {
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#masonjar {
  height: 250px;
  margin-top: 150px;
}

.carousel-caption {
	position: absolute;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}

button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 1px black;
}

hr.style2 {
  border-top: 7px double white;
  width: 40%;
}

h3.style3 {
	font-weight: bold;
	margin-top: 20px;
    margin-bottom: 20px;
}