#home {
  .jumbotron {
      background-image: url("http://images3.alphacoders.com/719/71999.jpg");
      height: 400px;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
    color: black;
  }
  p{
    margin-top: 50px;
    text-align: center;
    color: black;
  }
}

