<div ng-controller="SingleReviewCtrl" >
    <div class="review">
       	<div>
       	<h4><span id="title"><b>{{thisReview.title}}</b></span><span id="name">{{thisReview.user.firstName}} {{thisReview.user.lastName[0]}}.</span></h4><br>
        </div>
        <div id="review-body">
        <p>{{thisReview.body}}</p>
        </div>
        <hr>
        <!-- <span ng-repeat="t in ratingArr track by $index"><i class='material-icons stars md-dark'>star_rate</i></span><span ng-repeat="t in remainder track by $index"><i class='material-icons stars white'>star_rate</i></span> -->
    </div>
</div>

