<div id='user-update-admin'>
	<form novalidate class="form-horizontal" name='productForm' ng-submit='changeStatus()'>
	    <div class="form-group">
			<div class="col-md-3" ng-repeat='user in allUsers' ng-if='user._id !== currentUser._id'>
			    <li>Name: {{ user.firstName + ' ' + user.lastName }}</li>
			    <li>Email: {{ user.email }}</li>
			    <li>Admin: {{ user.isAdmin }}
	    			<select name="admin" ng-model='user.isAdmin'>
	    				<option value="true">true</option>
						<option value="false">false</option>
					</select>
				</li>
			</div>
		</div>
		<div class="form-group">
	      <div class="col-sm-2 col-sm-10">
	        <button type="submit" class="btn btn-success" >Submit</button>
	        <a ui-sref='user'><button class="btn btn-danger">Cancel</button></a>
	      </div>
	    </div>
	</form>
</div>