<div>
    Order Number:
    <br>
    <input ng-model="orderId" type="text">
    <br> Billing zipcode:
    <br>
    <input ng-model="zipcode" type="text">
    <button class="btn" ng-click="checkOrder(orderId, zipcode)">Check Order Status</button>
    <ul ng-show="order" class="borderbox-me-pls">
        <li>Id: {{order._id}}</li>
        <li>Status: {{ order.status.current }}</li>
        <li>Order Date: {{ order.status.updated_at | date:'MM/dd/yyyy @ h:mma'}}</li>
        <li>Tracking #: {{ order.trackingNumber }}</li>
    </ul>
    <div ng-show="status">
    	{{status}}
    </div>
</div>
