<div id="profile">
<h1>{{ currentUser.firstName + ' ' + currentUser.lastName }}'s Profile</h1>
<div class="row userinfo">
    <div class="col-md-3 profile">
        <h4>Your Profile<span><a ui-sref="profile-edit"><i class="material-icons">mode_edit</i></a></span></h4>
        <li>Name: {{ currentUser.firstName + ' ' + currentUser.lastName }}</li>
        <li>Email: {{ currentUser.email }}</li>
        <li>Password: {{ currentUser.password | password }}</li>
        <li># of Orders: {{ currentUser.orders.length }}</li>
        <li># of Reviews: {{ currentUser.reviews.length }}</li>
    </div>
    <div class="col-md-3 addresses">
        <h4>Address(es)<span><i class="material-icons">mode_edit</i></span></h4>
        <ul ng-repeat='address in currentUser.addresses'>
        {{ currentUser.addresses[0] }}
            <li>{{ address.firstName + ' ' + address.lastName }}</li>
            <li>{{ address.street }}</li>
            <li>{{ address.city + ', ' + address.state + ' ' + address.zipcode }}</li>
        </ul>
    </div>
    <div class="col-md-3 reviews">
        <h4>Review(s)<span><i class="material-icons">mode_edit</i></span></h4>
        <ul ng-repeat='review in currentUser.reviews'>
            <li>{{ review }}</li>
            <li>{{  }}</li>
            <li>{{  }}</li>
        </ul>
    </div>
</div>
</div>

{{currentUser}}
