.product_images {
    border-radius: 2%;
}

.rating {
	list-style-type:none;
}

.material-icons.white { color: #A8A8A8; }

.stars{
  width:20px;
}

#left-bar{
	float: left;
	position: fixed;
	overflow-y: scroll;
}

#carousel-images {
	width: 80%;
	margin: 5% auto;
}

#right-bar {
	float: right;
	background-color: blue;
}

.product-info{
	text-align: center;
}

#price {
	margin-top: 5px;
}