.product_images {
    border-radius: 2%;
}

.rating {
	list-style-type:none;
}

.material-icons.white { color: #A8A8A8; }

.stars{
  width:20px;
}

#left-bar{
	float: left;
	position: fixed;
	overflow-y: scroll;
	border-right: 2px solid;
	height: 100vh
}

#carousel-images {
	width: 80%;
	margin: 5% auto;
}

#right-bar {
	float: right;

}

.product-info{
	text-align: center;
}

#price {
	margin-top: 5px;
}

.jumbotron{
	background: transparent;
}
#name {
	float: right;
}
#title {
	float: left;
}
.review{
	width: 60%;
	border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 4%;
}

.editQuantity {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 40px;
    padding: 2px;
    font-size: 1.3em;
    width: 75%;
    margin: 0 auto;
}

.single-product-view {
/*    border-style: solid;
    border-color: grey;
    border-width: 1px;*/
    border-radius: 10px;
    background-color: #d3fdff;
    padding: 10px;
    margin: 5px 4%;
}

#long-description{
	margin-left: 4%;
}

#review-body{
	clear: both;
}
.product-name {
	margin-left: 40%;
}

.add-to-cart {
	background-color:#5B9147;
	color: #FFF
}
