navbar {

  display: block;
/*  background: white;*/
  border-bottom: 1px solid black;
  /*box-shadow: 1px 1px 14px -3px black;*/

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }



  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
/*
  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }*/

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  .icons {
    font-size: 40px;
    vertical-align: top;
  }
/*
  #login-btn {
    float: right;
  }*/
  #profile-btn {
    vertical-align: top;
    background-color: Transparent;
    border-radius: 5px;
  }
  #brand{
    padding: 0px;
  }
  #icons-left{
    float: left;
    width: 5%;
  }
  #icons-right{
    width: 10%;
  }
  .welcome{
    margin: 0px;
    height: 48px;
  }
  img{
    display:block;
    margin:auto;
  }
}
