navbar {

  display: block;
/*  background: white;*/
  border-bottom: 1px solid black;
  /*box-shadow: 1px 1px 14px -3px black;*/

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
    padding-bottom: 0px
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

  .icons {
    font-size: 40px;
    vertical-align: top;
  }

  #profile-btn {
    vertical-align: top;
    border-radius: 5px;
    background-color: black;
    border: none;
  }

  .welcome{
    margin: 0px;
    height: 48px;
  }

  img{
    display:block;
    margin:auto;
  }

  .cart-counter {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    color: black;
    background-color: #87CEEB;
    border-radius: 20px;
    margin-left: -20px;
  }

  #cart {
    margin-bottom: 20px;
  }
  
}
